<div class="row">
  <div class="col-lg-3">
    <%= text_field_tag 'category[text]', params[:category_search], placeholder: 'Search by Category', class: "form-control", autocomplete: :off %>
    <%= hidden_field_tag 'categories_list' %>
  </div>
</div>